*{

    text-align: center;
    margin: auto;
    font-size: large;
}

#root {
    display: block;
    justify-content: space-between;
    width: 35rem;
    background-color: rgb(238, 110, 132);
    margin-top: 20vh;
    padding: 2rem;
    border-radius: 20%;
}

html {
    background-color: blue;
}